body
{
    font-family: "Lucida Grande", Sans-Serif;
    font-size: 12px;
}

table
{
    text-align: left;
    border: 1px solid;
}

table.FAIL
{
    background-color: #CC9999;
}

table.PASS
{
    background-color: #99CC99;
}

table.ABRT
{
    background-color: #9999CC;
}

table.SKIP
{
    background-color: #C9C9C9;
}
