/* Yadda Stylesheet 2005 - Joe[y]
----------------------------------------------- */

body {
  background:white url(images/kl_bg.png) repeat-y top left;
  background-position:95px 30px;
  margin:10px 5px;
  width:750px;
  font:Georgia,Serif;
  color:#333;
  font-size:medium;
  }
  
/* Links
----------------------------------------------- */
a:link {
  color:#58a;
  text-decoration:none;
  }
a:visited {
  color:#58a;
  text-decoration:none;
  }
a:hover {
  color:#444499;
  }
a img {
  border-width:0;
  }


/* Shadow Border
----------------------------------------------- */

.s1 { border: solid 2px #FDFDFE;
       border-top:none;
	   border-bottom:none;
	   }
.s2 {  border: solid 1px #F4F6F9;
       border-top:none;
	   border-bottom:none;
	   }
.s3 {  border: solid 2px #F0F3F7;
       border-top:none;
	   border-bottom:none;
	   }
.s4 {  border: solid 1px #EBEFF4;
       border-top:none;
	   border-bottom:none;
	   }
.s5 {  border: solid 2px #E5EBF0;
       border-top:none;
	   border-bottom:none;
	   }
.s6 {  border: solid 1px #E0E7ED;
       border-top:none;
	   border-bottom:none;
	   }
.s7 {  border: solid 2px #DCE4EB;
       border-top:none;
	   border-bottom:none;
	   }
.s8 {  border: solid 1px #D5DEE7;
       border-top:none;
	   border-bottom: solid 1px #ccc;
	   }

/* Header
----------------------------------------------- */
#header {
  margin:20px 0;
  vertical-align:middle;
  width:756px;
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;
  }
  
#title {
  text-align: right;
  margin:25px 5px 0;
  padding:10px 10px .25em;
  border:0px solid #eee;
  border-width:0px 0px 0;
  font-size:200%;
  line-height:1.2em;
  font-weight:normal;
  color:#119;
  text-transform:uppercase;
  letter-spacing:.2em;
  }

#news {
  padding:25px 20px;
  height:20px;
  font:78%/1.4em "Trebuchet MS",Trebuchet,Arial,Verdana,Sans-serif;
  float:left;
  color:#555;
  }

#description {
  text-align: right;
  margin:0 10px 30px;
  padding:0 10px 0px;
  border:0px solid #eee;
  max-width:750;
  font:78%/1.4em "Trebuchet MS",Trebuchet,Arial,Verdana,Sans-serif;
  text-transform:uppercase;
  letter-spacing:.2em;
  color:#555;
  }

#private {
  text-align: center;
  padding:10px 0 0;
  height:10px;
  font:88%/1.4em "Trebuchet MS",Trebuchet,Arial,Verdana,Sans-serif;
  text-transform:uppercase;
  letter-spacing:.1em;
  color:#999;
  }

#msg {
  text-align: left;
  padding:5px 0 0;
  max-width:700px;
  height:10px;
  font:78%/1.4em "Trebuchet MS",Trebuchet,Arial,Verdana,Sans-serif;
  letter-spacing:.1em;
  color:#944;
  }

#splash {
  width:660px;
  padding-top:160px;
  margin:0 50px;
}

/* Headings
----------------------------------------------- */
h3 {
  margin:1.5em 0 .75em;
  font:88%/1.4em "Trebuchet MS",Trebuchet,Arial,Verdana,Sans-serif;
  text-transform:uppercase;
  letter-spacing:.2em;
  color:#119;
  }

h2 {
  margin:1.5em 0 .75em;
  font:110%/1.4em "Trebuchet MS",Trebuchet,Arial,Verdana,Sans-serif;
  text-transform:uppercase;
  letter-spacing:.2em;
  color:#119;
  }

h1 {
  margin:1.5em 0 .75em;
  font:150%/1.4em "Trebuchet MS",Trebuchet,Arial,Verdana,Sans-serif;
  text-transform:uppercase;
  letter-spacing:.2em;
  color:#119;
  }


/* Footer
----------------------------------------------- */
#footer {
  text-align:center;
  }
#footer hr {
  display:none;
  }
#footer p {
  margin:0;
  padding-top:30px;
  font:78%/1.6em "Trebuchet MS",Trebuchet,Verdana,Sans-serif;
  text-transform:uppercase;
  letter-spacing:.1em;
  }
  

div.webpage {
  width:750px;
}

p.navtoc {
  font-size:small; 
  font-family:Arial;
  font-weight:bold;
}

/* Various things
----------------------------------------------- */
div.center {
  text-align:center;
  }

div.center table {
  margin-left:auto; 
  margin-right:auto; 
  text-align:left;
  }

div.fragment {
  background-color: #E0E0E0; 
  }

pre.screen { 
  background-color: #E0E0E0; 
  }
